<%- include('./partials/head') %>
<%- include ('./partials/nav') %>
<div class="container home-pic-div">
    <img class="home-pic" src="/img/house-home.jpg">
</div>
 
<%- include ('./partials/end_head') %>